@page "/Acercade"

<div class="container text-center">
    <div>
        <h2>Acerca de</h2>
        <p><strong>Página realizada por</strong></p>

        <img src="Images/Wikelson.jpg" alt="imagen" style="width: 300px; height: 400px;">

        <p><strong>Nombre:</strong> Wikelson Diaz Alcantara</p>
        <p><strong>Matricula:</strong> 2023-0974</p>

        <div>
            <p><strong>Contactos</strong></p>
            <a href="https://wa.me/8498471061">Whatsapp</a>
            <a href="https://t.me/WikelsonDiaz">Telegram</a>
        </div>
        
    
    </div>
</div>